.cta-container {

    a {
        background-color: #2acfcf;
        color: #fff;
        width: 150px;
        border-radius: 50px;
        padding: 15px;
        font-weight: 700;
        margin-top: 35px;
    }
}